## Задание 1

Скачайте с сайта датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd
df = pd.read_csv('ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [ ]:
df[df['rating']==5.0]['movieId'].value_counts().head(1)

318    770
Name: movieId, dtype: int64

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [22]:
df_power = pd.read_csv('power.csv')
df_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [37]:
df_power_1 = df_power[(df_power['year'] >= 2005) & (df_power['year'] <= 2010) & (df_power['quantity'] > 0) & (df_power['category'].isin([4, 12, 21])) & (df_power['country'].isin(['Latvia', 'Lithuania', 'Estonia']))]
df_power_1.sort_values(by='quantity', ascending=False).head()

          country  year  quantity  category
248673  Lithuania  2009    4909.0        21
243152  Lithuania  2009    4689.0        21
248674  Lithuania  2008    4655.0        21
248675  Lithuania  2007    4613.0        21
248676  Lithuania  2006    4587.0        21

In [38]:
df_power_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 10617 to 253986
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   347 non-null    object
 1   year      347 non-null    int64
 2   quantity  347 non-null    float64
 3   category  347 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 13.6+ KB

In [39]:
sum = df_power_1['quantity'].sum()
print(f'Суммарное потребление стран Прибалтики: {sum}')

Суммарное потребление стран Прибалтики: 240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

In [42]:
df_html = pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[1]
df_html.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,85.80,0.18,0.21,NaN
1,Нефть WTI Цены на нефть WTI,81.67,0.20,0.25,NaN
2,Природный газ Цена на природный газ,2.19,-0.03,-1.40,NaN
3,Хлопок,82.37,-0.53,-0.64,NaN
4,Кофе,189.60,0.20,0.11,NaN

In [43]:
type(df_html)

pandas.core.frame.DataFrame